.current {
  color: MintCream;

}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url('assets/fonts/roboto-mono-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/roboto-mono-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-color: MintCream;
  font-family: Roboto Mono;
}

h2 {
  color: SlateGrey;
  text-align: center;
  font-size: 20px;
}

p {
  font-size: 17px;
  padding-left: .5em;
}

a {
  color: SlateGrey
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-size: 70px;
}

a:active {
  text-decoration: underline;
}

iframe {
  border: 5px solid DarkSlateGrey;
  border-radius: 6px;
}

img.resize {
  max-width:59%;
}

img.comix {
  max-height: 90%;
  max-width: 250%;
}

.transparentbackground {
  background: rgba(245, 255, 250, 0)
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: red;
   font-size: 12px;
   text-align: right;
   padding-bottom: 1em;
   a {
     color: red;
   }
   a:hover {
     color: red;
     font-size:40px;
   }
}
