.current {
  color: MintCream;
}
body {
  background-color: MintCream;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: SlateGrey;
  text-align: center;
  font-size: 20px;
}

p {
  font-size: 17px;
}

a {
  color: SlateGrey
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-size: 100px;
}

a:active {
  text-decoration: underline;
}

.footer {
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   color: red;
   font-size: 15px;
   color: white;
   text-align: right;
   a {
     color: red;
   }
   a:hover {
     color: red;
     font-size:40px;
   }
}
